# Visual Studio
.vs
.vscode
*.opendb
*.opensdf
*.sdf
*.pdb
*.sln
*.vcxproj*
[Dd]ebug
[Rr]elease

# CLion idea
.idea
cmake-build-debug
cmake-build-release

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Misc
build
*.cfg
*.log
imgui.ini
*.sublime*
*.dll
